* {
    padding: 0;
    margin: 0;
}
/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #010006;
    color: #fff;
}

/* GAME AREA */

.click-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #10083c;
}

.display-text {
    font-size: 2rem;
}

.latest-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-score h1 {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 2vh;
}

.score {
    padding: 3vh;
    width: 50%;
    text-align: center;
}

.score:nth-child(odd) {
    background-color: #ffffff28;
}

.fa-circle-chevron-left {
    color: #fff;
    position: absolute;
    padding: 5vh;
    font-size: 2rem;
}

/* HOME */

header {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url(../images/pexels-mikhail-nilov-6963945.webp) no-repeat center center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: #fff;
    background-color: #D62246;
    margin-top: 2vh;
    margin-left: 6vh;
    padding: 2vh 5vh 2vh 5vh;
    border-radius: 2vh;
    width: fit-content;
}

header h1 {
    font-size: 3rem;
    width: 50%;
    margin-left: 6vh;
}

/* HOW TO PLAY */

#how-to-play {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#how-to-play h1 {
    margin-left: 6vh;
    margin-top: 10vh;
    font-size: 3rem;
}

#how-to-play ol {
    margin-left: 6vh;
    margin-top: 5vh;
    font-size: 2rem;
    list-style-position: inside;
}

#how-to-play li {
    padding-top: 4vh;
}