* {
    padding: 0;
    margin: 0;
}
/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #010006;
    color: #fff;
}

/* GAME AREA */

.click-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #10083c;
}

.display-text {
    font-size: 2rem;
}

.latest-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-score h1 {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 2vh;
}

.score {
    padding: 3vh;
    width: 50%;
    text-align: center;
}

.score:nth-child(odd) {
    background-color: #ffffff28;
}

.fa-circle-chevron-left {
    color: #fff;
    position: absolute;
    padding: 5vh;
    font-size: 2rem;
}

/* HOME */

header {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url(../images/pexels-mikhail-nilov-6963945.webp) no-repeat center center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vh;
}