* {
    padding: 0;
    margin: 0;
}
/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #010006;
    color: #fff;
}

/* GAME AREA */
.click-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #10083c;
}

.display-text {
    font-size: 2rem;
}

.latest-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-score h1 {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 2vh;
}

.score {
    padding: 3vh;
    width: 50%;
    text-align: center;
}

.score:nth-child(odd) {
    background-color: #ffffff28;
}

.fa-circle-chevron-left {
    color: #fff;
    position: absolute;
    padding: 5vh;
    font-size: 2rem;
}

#info-to-play {
    position: absolute;
    margin-top: 6vh;
    margin-left: 160vh;
    color: #fff;
    text-transform: uppercase;
}

/* HOME */
header {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url(../images/pexels-mikhail-nilov-6963945.webp) no-repeat center center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: #fff;
    background-color: #D62246;
    margin-top: 2vh;
    margin-left: 6vh;
    padding: 2vh 5vh 2vh 5vh;
    border-radius: 2vh;
    width: fit-content;
}

header h1 {
    font-size: 3rem;
    width: 50%;
    margin-left: 6vh;
}

/* HOW TO PLAY */
#how-to-play {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#how-to-play h1 {
    margin-left: 6vh;
    font-size: 3rem;
}

#how-to-play ol {
    margin-left: 6vh;
    margin-top: 5vh;
    font-size: 1.5rem;
    list-style-position: inside;
}

#how-to-play li {
    padding-top: 4vh;
}

/* ABOUT AND CONTACT */
#about-contact {
    width: 100%;
    height: 100vh;
    background: url(../images/pexels-rok-romih-3367931.webp) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

#about {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6vh;
}

#about h1 {
    font-size: 2rem;
}

#about p {
    font-size: 1.5rem;
    margin-top: 5vh;
}

#contact {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#email {
    padding: 1.5vh 8vh;
    background-color: rgba(255, 255, 255, 0.652);
    border: 1px solid #fff;
    border-radius: 2vh;
}

#submit {
    padding: 1.5vh 3vh;
    background-color: #D62246;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2vh;
}

/* THANKS FOR EMAIL */

#thanks {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thanks h1 {
    font-size: 2rem;
}

#thanks a {
    font-size: 1rem;
    margin-top: 4vh;
    background-color: #D62246;
    border-radius: 2vh;
    padding: 2vh 5vh;
    color: #fff;
    text-decoration: none;
}

